

@media(min-width:1000px){
    #logo_menu{
        display:none;
    }
}

body{
    background-color: #e8edf3;
}

header{
    width:100%; height:5vh;
    position:fixed; z-index:10; top:0; left:0;
    display:flex; justify-content: space-evenly;
    background-color: #e8edf3;
    border-bottom: 1px solid black;
}

.small{
    display:flex;
}
    .small p{
        font-family: 'Vitro_core'; font-size:2vw;
        cursor: pointer;
    }

#main_menu{
    width:25vw; height:100%;
}
    #main_menu ul{
        display:flex; justify-content: space-between;
    }
    #main_menu ul li{
        padding-top:3%;
    }
    
    #main_menu ul li a{
        font-family: 'Pretendard-Regular'; font-size:0.8vw; font-weight:normal;
    }
    #main_menu ul li a::after{
        content: "";
        display:block;
        border-bottom: 1px solid black;
        transform: scale(0);
        transition:0.35s;
        transform-origin: 0% 50%;
    }
    #main_menu ul li a:hover::after{
        transform: scale(1);
    }

#slider{
    width:100%; height:95vh;
    background-color:#516db1;
    position:relative;
    background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;
}
    #slider > div{
        width:100%; height:100%;
        backdrop-filter: blur(15px);
    }
    #four{
        width:67vw; height:68vh;
        position:absolute; right:5%; bottom:15%; z-index:6;
    }
    #slider p{
        font-family: 'RixYeoljeongdo_Regular'; font-size:8vw;
        text-transform: uppercase;
        position:absolute; top:35%; left:5%; z-index:6;
        -webkit-text-stroke: 4px black;
        color:rgba(0, 0, 0, 1);
        text-shadow: 7px 0px #c44728, 15px 15px #5970b7;
    }
    #three{
        width:20vw;
        position:absolute; bottom:5%; left:15%;
    }
.section{
    width:100%; height:auto;
}

/* Die For You */
#one_section{
    width:100%; height:65vh;
    display:flex;
    position:relative;
}
    #video_show{
        width:40%; height:65vh;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; justify-content: center; align-items: center;
    }
    #dfy_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.7);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
    #dfy_g p{
        text-align:center; 
        font-family: 'Pretendard-Regular'; font-size:2vw;
        color:white;
    }
        #dfy_g p:nth-of-type(1){
            font-weight:bold; font-size:3vw;
        }
        #dfy_g p:nth-of-type(3){
            font-size:1vw;
        }

    #video_dfy{
        width:60%; height:100%;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; align-items: center; justify-content: center;
        cursor:pointer;
    }
    #video_dfy:hover{
        filter: brightness(70%);
    }
        #video_dfy p{
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
        #video_dfy p:hover{
            text-shadow: 200px 0 0 0 rgba(89,112,183,1) inset;
        }
        
/* Take My Breath */
#two_section{
    width:100%; height:80vh;
    display:flex;
}
    #video_show2{
        width:40%; height:80vh;
        display:flex; justify-content: center; align-items: center;
    }
    #tmb_g{
        width:50%; height:40vh;
        background:rgba(0, 0, 0, 0.8);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
        #tmb_g p{
            text-align:center; 
            font-family: 'Pretendard-Regular'; font-size:2vw;
            color:white;
        }
            #tmb_g p:nth-of-type(1){
                font-weight: bold; font-size:2.5vw;
            }
            #tmb_g p:nth-of-type(3){
                font-size:1vw;
            }
            
    #video_tmb{
        width:60%; height:80vh;
        background-size:100% 100%; background-repeat: no-repeat;
        display:flex; align-items: center; justify-content: center;
        cursor:pointer;
    }
        #video_tmb p{
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
        #video_tmb:hover{
            filter: brightness(70%);
        }
/* Save Your Tears */
#three_section{
    width:100%; height:65vh;
    background-color:orangered;
    display:flex;
    position:relative;
}
    #video_show3{
        width:40%; height:65vh;
        display:flex; justify-content: center; align-items: center;
    }
    #syt_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.8);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
        #syt_g p{
            text-align:center; 
            font-family: 'Pretendard-Regular'; font-size:2vw;
            color:white;
        }
        #syt_g p:nth-of-type(1){
            font-weight: bold; font-size:2.5vw;
        }
        #syt_g p:nth-of-type(3){
            font-size:1vw;
        }
    #video_syt{
        width:60%; height:65vh;
        z-index:7;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; justify-content: center; align-items: center;
    }
        #video_syt p{
            width:100%;
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
        #video_syt:hover{
            filter: brightness(70%);
        }
/* After Hours  */
#four_section{
    width:100%; height:65vh;
    background-color:orange;
    display:flex;
    position:relative;
}
    #video_ah{
        width:60%; height:65vh;
        background-size:100% 100%; background-repeat: no-repeat;
        display:flex; flex-flow:row wrap; justify-content: center; align-items: center;
    }
    #video_ah:hover{
        filter: brightness(70%);
    }
        #video_ah p{
            width:100%;
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
    #video_show4{
        width:40%; height:65vh;
        background-color:purple;
        display:flex; justify-content: center; align-items: center;
    }
    #ah_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.8);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
        #ah_g p{
            text-align:center; 
            font-family: 'Pretendard-Regular'; font-size:2vw;
            color:white;
        }
        #ah_g p:nth-of-type(1){
            font-weight: bold; font-size:2.5vw;
        }
        #ah_g p:nth-of-type(3){
            font-size:1vw;
        }

#five_section{
    width:100%; height:130%;
    margin:0 auto;
}
    #five_section > div{
        width:80%; height:80vh;
        position:sticky; top:0; left:0;
        overflow:hidden;
        margin:0 auto;
    }
    #five_section > div > img{
        width:100%; height:100%;
        position:sticky; 
        object-fit: cover;
    }

#six_section{
    width:100%; height:70vh;
    display:flex; align-items: center; flex-flow:row wrap;
}
#ss_box{
    width:80%; height:42vh;
    display:flex; justify-content: space-between;
    margin:0 auto;
}
    #ss_1,
    #ss_2,
    #ss_3,
    #ss_4,
    #ss_5{
        width:15vw;
        display:Flex; flex-flow: column wrap; align-items: center; 
    }
    #ss_1 p,
    #ss_2 p,
    #ss_3 p,
    #ss_4 p,
    #ss_5 p{
        font-family: 'Vitro_core'; font-size:1.3vw;
        text-align: center;
        margin-top:5%;
        text-transform: uppercase;
    }

        #ss_box button{
            width:5vw; height:3vh;
            background-color:#e8edf3;
            cursor: pointer;
            display:flex; justify-content: center; align-items: center;
            font-size:0.6vw;
            border:1px solid black;
            transition:all 0.9s;
        }
        #ss_box button:hover{
            box-shadow:200px 0 0 0 rgba(89,112,183,1) inset;
            color:white;
        }
        #ss_box button img{
            width:0.7vw;
        }
        
            #ss_1 button,
            #ss_2 button,
            #ss_3 button{
                margin-top:10%;
            }
            #ss_4 button,
            #ss_5 button{
                margin-top:5%;
            }

        #six_section img{
            width:100%; height:65%;
        }

    

#seven_section{
    width:100%; height:85vh;
    background-size:100% 100%; background-repeat: no-repeat;
    background-attachment: fixed;
}


#eight_section{
    width:100%; height:60vh;
    background-color:orange;
}


footer{
    width:100%; height:12vh;
    display:flex; flex-flow:column wrap; justify-content: space-evenly; align-items: center;
}
    #social_box{
        width:10vw;
        display:flex; justify-content: space-between;
    }
    #social_box img{
        width:0.9vw;
    }
    #ft-g{
        width:40vw;
        font-family: 'Pretendard-Regular'; font-size:0.6vw; font-weight: normal;
        text-align: center;
        display:flex; justify-content: space-between;
    }
    #ft-g a:hover{
        text-decoration: underline;
    }