

@media(min-width:1000px){
    #logo_menu{
        display:none;
    }
}

body{
    background-color: #e8edf3;
}

header{
    width:100%; height:5vh;
    position:fixed; z-index:10; top:0; left:0;
    display:flex; justify-content: space-evenly;
    background-color: #e8edf3;
    border-bottom: 1px solid black;
}

.small{
    display:flex;
}
    .small p{
        font-family: 'Vitro_core'; font-size:2vw;
        cursor: pointer;
    }

#main_menu{
    width:25vw; height:100%;
}
    #main_menu ul{
        display:flex; justify-content: space-between;
    }
    #main_menu ul li{
        padding-top:3%;
    }
    
    #main_menu ul li a{
        font-family: 'Pretendard-Regular'; font-size:0.8vw; font-weight:normal;
    }
    #main_menu ul li a::after{
        content: "";
        display:block;
        border-bottom: 1px solid black;
        transform: scale(0);
        transition:0.35s;
        transform-origin: 0% 50%;
    }
    #main_menu ul li a:hover::after{
        transform: scale(1);
    }

#slider{
    width:100%; height:95vh;
    background-color:#516db1;
    position:relative;
    background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;
}
    #slider > div{
        width:100%; height:100%;
        backdrop-filter: blur(15px);
    }
    #four{
        width:67vw; height:68vh;
        position:absolute; right:5%; bottom:15%; z-index:6;
    }
    #slider p{
        font-family: 'RixYeoljeongdo_Regular'; font-size:8vw;
        text-transform: uppercase;
        position:absolute; top:35%; left:5%; z-index:6;
        -webkit-text-stroke: 4px black;
        color:rgba(0, 0, 0, 1);
        text-shadow: 7px 0px #572d17, 15px 15px #5970b7;
    }
    #three{
        width:20vw;
        position:absolute; bottom:5%; left:15%;
    }
.section{
    width:100%; height:auto;
}
#one_section{
    width:100%; height:65vh;
    display:flex;
    position:relative;
}
    #video_show{
        width:40%; height:65vh;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; justify-content: center; align-items: center;
    }
    #dfy_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.5);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
    #dfy_g p{
        text-align:center; 
        font-family: 'Pretendard-Regular'; font-size:2vw;
        color:white;
    }
        #dfy_g p:nth-of-type(1){
            font-weight:bold; font-size:3vw;
        }
        #dfy_g p:nth-of-type(3){
            font-size:1vw;
        }
    #video_dfy{
        width:60%; height:100%;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; align-items: center; justify-content: center;
        cursor:pointer;
    }
    #video_dfy:hover{
        filter: brightness(70%);
    }
        #video_dfy p{
            width:100%;
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }

#two_section{
    width:100%; height:80vh;
    display:flex;
}
    #video_show2{
        width:40%; height:80vh;
        background-color:purple;
        display:flex; justify-content: center; align-items: center;
    }
    #tmb_g{
        width:50%; height:40vh;
        background:rgba(0, 0, 0, 0.7);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
        #tmb_g p{
            text-align:center; 
            font-family: 'Pretendard-Regular'; font-size:2vw;
            color:white;
        }
            #tmb_g p:nth-of-type(1){
                font-weight: bold; font-size:2.5vw;
            }
            #tmb_g p:nth-of-type(3){
                font-size:1vw;
            }

    #video_tmb{
        width:60%; height:80vh;
        background-size:100% 100%; background-repeat: no-repeat;
        display:flex; align-items: center; justify-content: center;
        cursor:pointer;
    }
        #video_tmb p{
            width:100%;
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
        #video_tmb:hover{
            filter: brightness(70%);
        }

#three_section{
    width:100%; height:65vh;
    background-color:orangered;
    display:flex;
    position:relative;
}
    #video_show3{
        width:40%; height:65vh;
        background-color:purple;
        display:flex; justify-content: center; align-items: center;
    }
    #syt_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.5);
    }
    #video_syt{
        width:60%; height:65vh;
        z-index:7;
        background-repeat: no-repeat; background-size:100% 100%;
    }
    #syt_album{
        width:20vw;
        position:absolute; right:0; bottom:10%;
    }
#four_section{
    width:100%; height:65vh;
    background-color:orange;
    display:flex;
    position:relative;
}
    #video_ah{
        width:60%; height:65vh;
        background-color:olivedrab;
    }
    #video_show4{
        width:40%; height:65vh;
        background-color:purple;
        display:flex; justify-content: flex-end;
    }
    #ah_g{
        width:50%; height:32.5vh;
        background-color:rosybrown;
    }
#five_section{
    width:100%; height:130%;
    margin:0 auto;
}
    #five_section > div{
        width:80%; height:80vh;
        position:sticky; top:0; left:0;
        overflow:hidden;
        margin:0 auto;
    }
    #five_section > div > img{
        width:100%; height:100%;
        position:sticky; 
        object-fit: cover;
    }
#six_section{
    width:100%; height:70vh;
    display:flex; align-items: center; flex-flow:row wrap;
}
    #ho-zon-box{
        width:80%; height:45vh;
        background-color:rosybrown;
        margin:0 auto;
        overflow:hidden;
        position:relative;
    }
    #ho-zon-box ul{
        display:flex; justify-content: space-between;
    }
    #ho-zon-box ul li a img{
        width:15vw; height:90%;
    }
    .prev,
    .next{
        height:100%;
        font-family: 'YdestreetB'; font-size:5vw;
        position:absolute;
        color:#e6e6e6; 
        transition:0.35s;
        cursor:pointer;
        line-height:43vh;
    }
    .prev:hover,
    .next:hover{
        background-color:#e6e6e6; color:black;
        filter:opacity(0.5)
    }
    .prev{
        left:0;
    }
    .next{
        right:0;
    }

#seven_section{
    width:100%; height:85vh;
    background-size:100% 100%; background-repeat: no-repeat;
    background-attachment: fixed;
}


#eight_section{
    width:100%; height:60vh;
    background-color:orange;
}


footer{
    width:100%; height:12vh;
    display:flex; flex-flow:column wrap; justify-content: space-evenly; align-items: center;
}
    #social_box{
        width:10vw;
        display:flex; justify-content: space-between;
    }
    #social_box img{
        width:0.9vw;
    }
    #ft-g{
        width:40vw;
        font-family: 'Pretendard-Regular'; font-size:0.6vw; font-weight: normal;
        text-align: center;
        display:flex; justify-content: space-between;
    }
    #ft-g a:hover{
        text-decoration: underline;
    }