@media(min-width:1000px){
    #t-o-sec1{
        width:25%; height:100%;
    }
        #t-o-sec1 > h1,
        #t-o-sec2 > h1{
            font-family: 'Pretendard-Regular'; font-size:5vw;
            text-align:left;
        }
        
        #t-o-sec1 > div{
            margin-top:20%;
        }
            #to{
                margin-bottom:20%;
            }
    
    #t-o-sec2{
        width:25%; height:100%;
        padding-top:5%;
    }
        #tdo{
            margin-bottom:20%;
        }
        #t-o-sec2 > h1{
            position:absolute; right:24%; top:0;
        }
    
    #t-o-sec3{
        width:25%; height:100%;
    }
        #t-o-sec3 > div{
            margin-top:45%;
        }
            #hob{
                margin-bottom:20%;
            }
    
    #to,
    #tdo,
    #hob{
        width:100%; height:50vh; 
    }
        #toimg,
        #tdoimg,
        #hobimg{
            width:95%; height:40vh;
        }
    
        #to_text,
        #tdo_text,
        #hob_text{
            width:100%; height:12vh;
            display:flex; flex-flow:column wrap; justify-content: center; align-items: center;
        }
            #hob_text{
                height:17vh;
            }

        #hob2{
            display:none;
        }
    
    #t-o-sec1 span,
    #t-o-sec2 span,
    #t-o-sec3 span{
        font-family: 'Pretendard-Regular'; font-size:0.8vw;
        text-transform: uppercase;
    }
    #t-o-sec1 h2,
    #t-o-sec2 h2,
    #t-o-sec3 h2{
        font-family: 'YdestreetB'; font-size:1.2vw;
        text-transform: uppercase;
    }
    #t-o-sec1 button,
    #t-o-sec2 button,
    #t-o-sec3 button{
        width:5vw; height:3vh;
        background-color:#e8edf3;
        cursor: pointer;
        display:flex; justify-content: center; align-items: center;
        font-size:0.6vw;
        border:1px solid black;
        transition:all 0.9s;
        margin-top:3%;
    }
        #t-o-sec1 button img,
        #t-o-sec2 button img,
        #t-o-sec3 button img{
            width:0.7vw;
        }
        #t-o-sec1 button:hover,
        #t-o-sec2 button:hover,
        #t-o-sec3 button:hover{
            box-shadow:200px 0 0 0 rgba(89,112,183,1) inset;
            color:white;
        }
    
    #section{
        width:100%; height:15vh;
        display:flex; justify-content: center; align-items: center;
    }
        #pr_nx_b nav{
            border-radius: 10px;
        }
        #pr_nx_b nav ul{
            display:flex; justify-content: center; align-items: center;
            text-align: center;
            border-top:1px solid black; border-bottom:1px solid black;
        }
        #pr_nx_b nav ul li{
            width:2.5vw; height:4vh;
            border-right:1px solid black;
            transition:0.35s;
        }
            #pr_nx_b nav ul li:nth-of-type(1){
                border-left:1px solid black;
            }
            #pr_nx_b nav ul li:nth-of-type(7){
                border-bottom:3px solid black;
            }
        #pr_nx_b nav ul li a{
            font-family: 'Pretendard-Regular'; font-size:0.6vw;
            line-height:4vh;
        }
        #pr_nx_b nav ul li:hover{
            background-color:#5970b7;
        }
    }