

@media(min-width:1000px){
#slider{
    width:100%; height:95vh;
    background-color:#516db1;
    position:relative;
    background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;
}
    #slider > div{
        width:100%; height:100%;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
        #four{
            width:67vw; height:68vh;
            position:absolute; right:5%; bottom:15%; z-index:6;
        }
        #slider p{
            font-family: 'RixYeoljeongdo_Regular'; font-size:8vw;
            text-transform: uppercase;
            position:absolute; top:35%; left:5%; z-index:6;
            -webkit-text-stroke: 4px black;
            color:rgba(0, 0, 0, 1);
            text-shadow: 7px 0px #c44728, 15px 15px #5970b7;
        }
        #three{
            width:20vw;
            position:absolute; bottom:5%; left:15%;
        }

.section{
    width:100%; height:auto;
    margin-top:7%;
}

/* Die For You */
#one_section{
    width:100%; height:65vh;
    display:flex;
    position:relative;
}
    #video_show{
        width:40%; height:65vh;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; justify-content: center; align-items: center;
    }
    #dfy_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.7);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
    #dfy_g p{
        text-align:center; 
        font-family: 'Pretendard-Regular'; font-size:2vw;
        color:white;
    }
        #dfy_g p:nth-of-type(1){
            font-weight:bold; font-size:3vw;
        }
        #dfy_g p:nth-of-type(3){
            font-size:1vw;
        }

    #video_dfy{
        width:60%; height:100%;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; align-items: center; justify-content: center;
        cursor:pointer;
    }
    #video_dfy:hover{
        filter: brightness(70%);
    }
        #video_dfy p{
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
        #video_dfy p:hover{
            text-shadow: 200px 0 0 0 rgba(89,112,183,1) inset;
        }

/* Take My Breath */
#two_section{
    width:100%; height:80vh;
    display:flex;
}
    #video_show2{
        width:40%; height:80vh;
        display:flex; justify-content: center; align-items: center;
    }
    #tmb_g{
        width:50%; height:40vh;
        background:rgba(0, 0, 0, 0.8);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
        #tmb_g p{
            text-align:center; 
            font-family: 'Pretendard-Regular'; font-size:2vw;
            color:white;
        }
            #tmb_g p:nth-of-type(1){
                font-weight: bold; font-size:2.5vw;
            }
            #tmb_g p:nth-of-type(3){
                font-size:1vw;
            }
            
    #video_tmb{
        width:60%; height:80vh;
        background-size:100% 100%; background-repeat: no-repeat;
        display:flex; align-items: center; justify-content: center;
        cursor:pointer;
    }
        #video_tmb p{
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
        #video_tmb:hover{
            filter: brightness(70%);
        }
/* Save Your Tears */
#three_section{
    width:100%; height:65vh;
    background-color:orangered;
    display:flex;
    position:relative;
}
    #video_show3{
        width:40%; height:65vh;
        display:flex; justify-content: center; align-items: center;
    }
    #syt_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.8);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
        #syt_g p{
            text-align:center; 
            font-family: 'Pretendard-Regular'; font-size:2vw;
            color:white;
        }
        #syt_g p:nth-of-type(1){
            font-weight: bold; font-size:2.5vw;
        }
        #syt_g p:nth-of-type(3){
            font-size:1vw;
        }
    #video_syt{
        width:60%; height:65vh;
        z-index:7;
        background-repeat: no-repeat; background-size:100% 100%;
        display:flex; justify-content: center; align-items: center;
    }
        #video_syt p{
            width:100%;
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
        #video_syt:hover{
            filter: brightness(70%);
        }
/* After Hours  */
#four_section{
    width:100%; height:65vh;
    background-color:orange;
    display:flex;
    position:relative;
}
    #video_ah{
        width:60%; height:65vh;
        background-size:100% 100%; background-repeat: no-repeat;
        display:flex; flex-flow:row wrap; justify-content: center; align-items: center;
    }
    #video_ah:hover{
        filter: brightness(70%);
    }
        #video_ah p{
            width:100%;
            font-family: 'Vitro_core'; font-size:3.5vw;
            text-transform: uppercase; text-align: center;
            color:white;
        }
    #video_show4{
        width:40%; height:65vh;
        background-color:purple;
        display:flex; justify-content: center; align-items: center;
    }
    #ah_g{
        width:50%; height:32.5vh;
        background:rgba(0, 0, 0, 0.8);
        display:flex; justify-content: center; align-items: center; flex-flow:row wrap;
    }
        #ah_g p{
            text-align:center; 
            font-family: 'Pretendard-Regular'; font-size:2vw;
            color:white;
        }
        #ah_g p:nth-of-type(1){
            font-weight: bold; font-size:2.5vw;
        }
        #ah_g p:nth-of-type(3){
            font-size:1vw;
        }

#five_section{
    width:100%; height:130%;
    margin:0 auto; margin-top:7%;
}
    #five_section > div{
        width:80%; height:80vh;
        position:sticky; top:0; left:0;
        overflow:hidden;
        margin:0 auto;
    }
    #five_section > div > img{
        width:100%; height:100%;
        position:sticky; 
        object-fit: cover;
    }
#six_section{
    width:100%; height:70vh;
    display:flex; align-items: center; flex-flow:row wrap;
}
#ss_box{
    width:80%; height:42vh;
    display:flex; justify-content: space-between;
    margin:0 auto;
}
    #ss_1,
    #ss_2,
    #ss_3,
    #ss_4,
    #ss_5{
        width:15vw;
        display:Flex; flex-flow: column wrap; align-items: center; 
    }
    #ss_1 p,
    #ss_2 p,
    #ss_3 p,
    #ss_4 p,
    #ss_5 p{
        font-family: 'Vitro_core'; font-size:1.3vw;
        text-align: center;
        margin-top:5%;
        text-transform: uppercase;
    }

        #ss_box button{
            width:5vw; height:3vh;
            background-color:#e8edf3;
            cursor: pointer;
            display:flex; justify-content: center; align-items: center;
            font-size:0.6vw;
            border:1px solid black;
            transition:all 0.9s;
        }
        #ss_box button:hover{
            box-shadow:200px 0 0 0 rgba(89,112,183,1) inset;
            color:white;
        }
        #ss_box button img{
            width:0.7vw;
        }
        
            #ss_1 button,
            #ss_2 button,
            #ss_3 button{
                margin-top:10%;
            }
            #ss_4 button,
            #ss_5 button{
                margin-top:5%;
            }

        #six_section img{
            width:100%; height:65%;
        }

#seven_section{
    width:100%; height:85vh;
    background-size:100% 100%; background-repeat: no-repeat; background-attachment: fixed;
    display:flex;
}
    #seven_section h1{
        font-family: 'RixYeoljeongdo_Regular'; font-weight: 900; font-size:6vw;
        text-transform: uppercase;
        z-index:7;
    }
    #tgtt{
        display:flex; flex-flow:column wrap; justify-content: center; align-items: center;
    }
    #seven_section #tgtt > h1{
        -webkit-text-stroke: 0.5px black; 
        color:rgba(0, 0, 0, 0);
        font-weight:600;
    }
    #tgtt button{
        width:12vw; height:5vh;
        font-family: 'Pretendard-Regular'; font-size:0.8vw;
        border:0;
        cursor:pointer;
        transition:all 0.5s;
        background-color:#e8edf3;
        text-align:center;
    }
    #tgtt button:hover{
        box-shadow:222.95px 0 0 0 rgba(89,112,183,1) inset; 
        color:white;
    }

    #seven_section > div{
        width:100%; height:100%; 
        display:flex; justify-content: center; align-items: center; flex-flow:column wrap;
    }
 
#eight_section{
    width:100%; height:60vh;
    display:flex; justify-content: center; align-items: center; flex-flow:column wrap;
    background-size:cover; background-position: right;
}
    #es_sub{
        width:80%;
        display:flex; justify-content: center;
    }
    #es_sub h1{
        font-family: 'Vitro_core';
    }
    #es_sub #email{
        width:15vw;
        border:1px solid black;
        background-color:#e8edf3;
        margin-left:12%;
    }
    #es_sub #submit{
        width:5vw;
        border:1px solid black;
        margin-left:0.8%;
        cursor: pointer;
        transition: 0.7s;
        background-color:#5970b7;
        color:white;
    }
        #es_sub #submit:hover{
            box-shadow:222.95px 0 0 0 rgba(0,0,0,1) inset; 

        }
    #es_sub_g{
        width:80%;
        text-align:center;
        margin-top:2%;
        font-style: italic; font-family: 'Pretendard-Regular';
    }
        #es_sub_g span{
            font-weight: bold;
        }


}






        








    




