



body{
    width:100vw; height:100vh;
    background-size:100% 100%; background-repeat: no-repeat;
}

    #ms_b{
        width:100%; height: 100%;
        backdrop-filter: blur(15px);
        display:flex;
    }
        #ms{
            width:50%;
            display:flex;
        }
        #tmb{
            width:95%; height:96%;
            margin-left:2%; margin-top:2%;
        }
    #tmb_g{
        width:50%; height:100%;
        display:flex; flex-flow:column wrap; justify-content: center; align-items: center;
    }
    #tmb_g video{
        width:80%; 
    }
    #tmb_g h1{
        font-family: 'Pretendard-Regular'; font-size:3vw;
    }
        